{
	"tabWidth": 4,
    "useTabs": true,
    "singleQuote": true,
    "semi": false,
    "printWidth": 250,
    "singleAttributePerLine": true,
    "trailingComma": "none",
    "plugins": ["prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "angular"
            }
        }
    ]
}
